body{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-weight{
    width: 50%;
    padding-left: 5%;
}
.half-weight img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: bisque;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato) ;
    padding:10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images//top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 30px;
    
}
.paragraf{
    padding-right: 60px;
}